.button{
    margin: 0 1%;
    height: 36px;
    border-radius: 7px;
    color: white;
    font-size: 1em;
    font-family: monospace;
    box-shadow: 2px 2px white;
}

.white-button{
    background: linear-gradient(55deg, #000000d1, #0000007d);
}
.black-button{
    background: linear-gradient(55deg, #313131, #313131);
}

.content-button{
    display: flex;
}

.icon{
    vertical-align: baseline;
    height: 58%;
    width: 18%;
}

.span-text {
    margin: auto;
}
