.background-meli{
    background-color: #fff159;
}
.background-periferia{
    background-color: #529d268c;
}

.background-smartsoft{
    background-color: #1a658c82;
}

.background-conexia{
    background-color: #f7941d;
}

.li {
    list-style-type: none;
}