html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.text-white {
  color: white;
}
.subtitle-size{
  font-size: 1.2em;
}