.content{
    display: flex;
    justify-content: center;
}
.content-initial{
    display: flex;
}
.my-icon{
    width: 38%;
    margin: auto 0 auto auto;
}
.title-name{
    font-family: monospace;
    font-size: 2.4rem;
}

.content-title{
    margin: auto 0;
}